!!!
%html
%head{ data: { locale: current_user.try(:locale) || I18n.default_locale } }
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  #container
    #user_nav
      - if current_user
        = "Welcome #{current_user.nickname}"
        = link_to "Sign Out", "/signout"
      - else
        = link_to "Sign in with Twitter", "/auth/twitter"
    - #TODO: flashをこの辺りに出す
  = yield
